.main-container {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eee;

  @media (min-width: 576px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    width: 80%;
    max-width: 90%;

    border-radius: 4px;
    border: 1px solid #eee;
  }

  @media (min-width: 768px) {
    max-width: 400px;
  }
}
